.main-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #142020;
  padding: 50px 20px;
  h1 {
    color: #d3c09e;
    text-align: center;
    padding-bottom: 30px;
  }
}
