* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #9b8e6e;
  --color-primary-light: #caba92;
  --color-secondary: #58513f;
  --color-third: #4b3d33;
  --color-main: #1d322b;
  --color-white: #ffffff;
  --color-black: #000000;
}

.section-light {
  background-color: var(--color-primary-light);
}

.section-dark {
  background-color: var(--color-main);
}

body {
  font-family: "Libre Baskerville", serif;
  color: var(--color-main);
  height: 100vh;
  background: url("img/Family-16-Exposure.jpg") no-repeat center center/cover;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  color: var(--color-white);
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  color: var(--color-main);
}

h2 {
  font-size: 3.5rem;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}

#navigation {
  height: 100vh;
}

.navigation a {
  position: relative;
  color: var(--color-main);
  padding: 0 10px;
  list-style: none;
  text-decoration: none;
}

.navigation a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: var(--color-main);
  border-radius: 5px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.navigation a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

.navbar {
  background-color: var(--color-primary-light);
  opacity: 0.7;
  padding: 20px 100px;
}

.navbar-brand {
  color: var(--color-main);
  font-weight: 700;
}

.navbar-collapse {
  flex-grow: 0;
}

.curved-nav {
  border-bottom-left-radius: 50% 11%;
  border-bottom-right-radius: 50% 11%;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3rem;
}

section {
  height: 100vh;
}

#title {
  padding-top: 300px;
}

.title {
  position: relative;
  text-align: center;
  padding: 100px 100px;
  height: 920px;
}
.title h2 {
  transform: scale(0.85);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1), fade-in 3s;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.title p {
  color: var(--color-white);
  padding-bottom: 150px;
  transform: scale(0.85);
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1), fade-in 3s;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

#features {
  position: relative;
  background-color: var(--color-primary-light);
  z-index: -2;
}
#features .features-pos {
  display: flex;
  align-items: center;
  justify-content: center;
}
#features .container-fluid h1 {
  display: flex;
  padding: 30px 0;
  justify-content: space-around;
}
#features img {
  max-width: 250px;
  border: 7px solid #1d322b;
}

.feature-images {
  display: flex;
  justify-content: space-around;
}

#gallery {
  height: auto;
  background-color: var(--color-primary-light);
}

.card-body {
  background-color: var(--color-primary-light);
  padding: 0;
}

.col {
  position: relative;
}

.col p {
  color: var(--color-main);
}

.golden-circle {
  overflow: hidden;
  position: absolute;
  width: 400px;
  transform: translate(50%, 50%);
  z-index: -1;
}

.golden-nested {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1), fade-in 3s;
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}

.container {
  padding-top: 50px;
}

.navbar-toggler {
  color: var(--color-primary-light);
}

.layered-image {
  height: 100vh;
  background: linear-gradient(to bottom, transparent, 50%, var(--color-primary-light) 85%);
}

.container-fluid {
  margin: 0;
  padding: 0 10px;
}

#bottom {
  background-image: url(img/pexels-golden-jojo-2409038.jpg);
  background-size: cover;
  z-index: -1;
}
#bottom h1 {
  color: var(--color-primary-light);
  text-align: center;
}
#bottom iframe {
  width: 100%;
  padding: 3%;
}

.copyright p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-primary-light);
  text-align: center;
}

.rotate {
  opacity: 0.8;
  animation: imageRotation 80s linear infinite;
}
@keyframes imageRotation {
  from {
    transform: rotate(-159deg);
  }
  to {
    transform: rotate(200deg);
  }
}

.text-shadow-black {
  text-shadow: 0px 1px 1px black, 1px 0px 1px black, 0px -1px 1px black, -1px 0px 1px black;
}

.text-shadow-white {
  text-shadow: 0px 1px 1px white, 1px 0px 1px white, 0px -1px 1px white, -1px 0px 1px white;
}

.btnc {
  background: transparent;
  border: 2px solid var(--color-main);
  border-radius: 12px;
  font-family: Arial;
  color: var(--color-main);
  font-size: 20px;
  margin-top: 100px;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
  transition: 0.5s;
}

.btnc:hover {
  background: var(--color-main);
  text-decoration: none;
  color: var(--color-primary-light);
}

@media screen and (max-width: 768px) {
  #navigation {
    height: 100vh;
  }
  .title {
    padding: 100px 50px;
  }
  .title p {
    padding-bottom: 50px;
  }
  #features {
    position: relative;
    background-color: var(--color-primary-light);
    z-index: -2;
    height: auto;
  }
  #features .features-pos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #features img {
    width: 160px;
    border: 5px solid #1d322b;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .row-cols-2 > * {
    width: 90%;
  }
  .col {
    overflow: hidden;
  }
  .col p {
    color: var(--color-main);
    font-size: 15px;
    line-height: 1.5;
  }
  .golden-nested {
    position: relative;
    top: -50px;
    max-width: 100%;
  }
  .golden-circle {
    position: absolute;
    width: 250px;
    z-index: -1;
  }
  .circle-prop {
    max-width: 100%;
    border: 0 !important;
    top: 40px;
    right: 96px;
    scale: 1.5;
    opacity: 0.4;
    overflow: hidden;
    position: absolute;
    border: none;
  }
  .navbar {
    background-color: var(--color-primary-light);
    filter: brightness(0.9);
    padding: 10px 20px;
    opacity: 1;
  }
  .navbar-nav {
    align-items: center;
  }
  .navbar-brand h1 {
    font-size: 25px;
    margin: 0;
  }
  .nav-link {
    text-align: center;
    padding-top: 20px;
  }
  .navigation a {
    padding: 15px 0;
  }
  .navigation a::after {
    bottom: -2px;
    width: 100%;
    align-items: center;
    height: 2px;
    background: var(--color-main);
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  .copyright p {
    color: var(--color-primary-light);
    font-size: 15px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #navigation {
    height: 100vh;
  }
  .title p {
    padding-bottom: 50px;
  }
  #features {
    position: relative;
    height: auto;
    background-color: var(--color-primary-light);
    z-index: -2;
  }
  #features .features-pos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #features img {
    width: 180px;
    border: 7px solid #1d322b;
  }
  .col p {
    color: var(--color-black);
    font-size: 15px;
    line-height: 1.5;
  }
  .golden-nested {
    top: -50px;
  }
  .navbar {
    padding: 10px 20px;
    opacity: 1;
  }
  .navbar-brand h1 {
    font-size: 25px;
    margin: 0;
  }
  .nav-link {
    text-align: center;
    padding-top: 20px;
  }
  .navigation a {
    padding: 15px 0;
  }
  .navigation a::after {
    bottom: -2px;
    width: 100%;
    align-items: center;
    height: 2px;
    background: var(--color-main);
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
}/*# sourceMappingURL=style.css.map */