* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #142020;
  --color-secondary: #d3c09e;
  --color-third: #afa084;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--color-primary);
}

.navbar {
  position: absolute;
  width: 100%;
  padding: 15px 70px;
  background-color: var(--color-secondary);
}
.navbar .navbar-brand {
  color: var(--color-primary);
}
.navbar .nav-link {
  color: var(--color-primary);
  margin: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navbar .nav-link .active {
  color: #afa084;
}
.navbar .nav-link:hover {
  color: white;
  animation: scale 0.2s forwards;
}
@keyframes scale {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.15;
  }
}

#navbarNav {
  justify-content: flex-end;
}
#navbarNav .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  z-index: -10;
  background: url("img/pexels-golden-jojo-2409038.jpg") no-repeat center center/cover;
}
#title .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
#title .logo .logo-img {
  width: 40%;
}
#title p {
  bottom: 20px;
  font-size: 25px;
  color: white;
  text-align: center;
}

#features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-color: var(--color-secondary);
}
#features .card {
  margin: 30px 5%;
  box-shadow: 5px 5px 10px grey;
}
#features .card .btn-primary {
  background-color: #1d301d;
  color: var(--color-secondary);
  border: none;
}
#features .features {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#lokacija {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 50px 0;
  background: url(img/pexels-golden-jojo-2409038.jpg) no-repeat center center/cover;
  color: var(--color-secondary);
}
#lokacija h1 {
  color: var(--color-secondary);
  padding-bottom: 50px;
}
#lokacija iframe {
  padding-bottom: 50px;
}
#lokacija p {
  margin-bottom: 50px;
  font-size: 15px;
  color: var(--color-secondary);
  text-align: center;
}
#lokacija .social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#lokacija .social p {
  margin-bottom: 0px;
}
#lokacija .social .social-media-links a {
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 10px 20px;
  color: var(--color-secondary);
  transition: all 0.2s ease-in-out;
}
#lokacija .social .social-media-links a:hover {
  color: white;
  scale: 1.2;
}

#copyright {
  background-color: var(--color-secondary);
  text-align: center;
  padding: 20px 0;
}
#copyright p {
  margin-bottom: 0;
}

@media (max-width: 992px) {
  .navbar {
    padding: 10px 0;
  }
  #title {
    background: url("img/Logo uspravni sa poz.jpeg") no-repeat center center/cover;
    height: 100%;
  }
  #title .logo .logo-img {
    display: none;
    width: 100%;
  }
  #features {
    flex-direction: column;
  }
  #features .features {
    flex-direction: column;
    align-items: center;
  }
  #lokacija h1 {
    color: var(--color-secondary);
  }
  #lokacija iframe {
    width: auto;
    padding-bottom: 50px;
  }
  #lokacija p {
    bottom: 20px;
    font-size: 15px;
    color: var(--color-secondary);
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */