* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #142020;
  --color-secondary: #d3c09e;
  --color-third: #afa084;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: var(--color-primary);
}
/////////////////////
//NAVBAR

.navbar {
  position: absolute;
  width: 100%;
  padding: 15px 70px;
  background-color: var(--color-secondary);
  .navbar-brand {
    color: var(--color-primary);
  }
  .nav-link {
    color: var(--color-primary);
    margin: 0 15px;
    display: flex;
    // background-color: #1d301d;
    // border: 1px solid #1d301d;
    // border-radius: 10px;
    align-items: center;
    justify-content: space-around;
    .active {
      color: #afa084;
    }
  }
  .nav-link:hover {
    // position: relative;
    color: white;
    // transform: scale(1.1);
    // border: 1px solid #1d301d;
    // border-radius: 10px;
    // background-color: #1d301d;
    animation: scale 0.2s forwards;
    @keyframes scale {
      0% {
        scale: 1;
      }
      100% {
        scale: 1.15;
      }
    }
  }
}

#navbarNav {
  justify-content: flex-end;
  // align-items: center;
  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

//////////////
//TITLE
#title {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  z-index: -10;
  background: url("img/pexels-golden-jojo-2409038.jpg") no-repeat center center/cover;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    .logo-img {
      width: 40%;
    }
  }
  p {
    bottom: 20px;
    font-size: 25px;
    color: white;
    text-align: center;
  }
}

#features {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-color: var(--color-secondary);
  .card {
    margin: 30px 5%;
    box-shadow: 5px 5px 10px grey;
    .btn-primary {
      background-color: var(--color-primary);
      color: var(--color-secondary);
      border: none;
      transition: all 0.3s;
    }
    .btn-primary:hover {
      background-color: var(--color-third);
      color: var(--color-primary);
      scale: 1.1;
    }
  }
  .features {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }
}

#lokacija {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 50px 0;
  background: url(img/pexels-golden-jojo-2409038.jpg) no-repeat center center/cover;
  color: var(--color-secondary);
  h1 {
    color: var(--color-secondary);
    padding-bottom: 50px;
  }
  iframe {
    padding-bottom: 50px;
  }
  p {
    // bottom: 20px;
    margin-bottom: 50px;
    font-size: 15px;
    color: var(--color-secondary);
    text-align: center;
  }
  .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-bottom: 0px;
    }
    .social-media-links {
      a {
        display: inline-block;
        align-items: center;
        justify-content: center;
        margin: 10px 30px;
        color: var(--color-secondary);
        transition: all 0.2s ease-in-out;
      }
      a:hover {
        color: white;
        scale: 1.2;
      }
    }
  }
}
#copyright {
  background-color: var(--color-secondary);
  text-align: center;
  padding: 20px 0;
  p {
    margin-bottom: 0;
  }
}

///////////////
//Responsivness

@media (max-width: 992px) {
  .navbar {
    padding: 10px 0;
  }

  #title {
    background: url("img/Logo\ uspravni\ sa\ poz.jpeg") no-repeat center center/cover;

    height: 100%;
    .logo {
      .logo-img {
        display: none;
        width: 100%;
      }
    }
  }
  #features {
    flex-direction: column;
    .features {
      flex-direction: column;
      align-items: center;
    }
  }

  #lokacija {
    h1 {
      color: var(--color-secondary);
    }
    iframe {
      width: auto;
      padding-bottom: 50px;
    }
    p {
      bottom: 20px;
      font-size: 15px;
      color: var(--color-secondary);
      text-align: center;
    }
  }
}
